@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url(../images/lamborghini.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 450px;
background-color: rgba(255, 255, 255, 0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #2e93ff;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}
.btn{
    background: #2e93ff;
    color: #fff;
}